#admin-browse {
    img {
        max-width: 200px;
    }
    table {
        width: 100%;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

#search {
    width: 60%;
    margin: 5vh auto;
    display: flex;
    & > * {
        height: 2em;
        padding: 0 2vw;
        margin: 0;
        border-radius: 0;
        border: none;
        background-clip: border-box;
    }
    select {
        width: auto;
    }
    input[type="submit"], .btn {
        flex: 0 0 auto;
        padding: 0 2vw;
        line-height: 2em;
    }
    select:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-right: 1px solid $border;
    }
    .btn:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    border-radius: 15px;
    border: 1px solid $border;
}

#counts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    @media (min-width: 450px){
        grid-template-columns: repeat(4, 1fr);
    }
    * {
        text-align: center;
    }
    div, .btn {
        cursor: pointer;
        color: #fff;
        &:hover {
            background: #34c5b8!important;
        }
        border: 1px solid rgba(0,0,0,0.125)
    }
}
