#admin-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    grid-template-rows: 1fr;
    // /* Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */
    // grid-auto-flow: column;
    // grid-auto-columns: minmax(260px, 1fr);
    .card-header {
        font-weight: bold;
    }
}
