@import "../variables";
@import "_home";
@import "_browse";
@import "_details";

#admin-body {
    main {
        min-height: calc(100vh - $navHeight);
        aside {
            flex: 0 0 140px;
            #menu {
                position: sticky;
                top: 0;
                .list-group, .list-group-item {
                    background: transparent;
                    color: #000;
                    border-radius: 0;
                }
                .list-group-item {
                    padding: 15px 0;
                    text-align: center;
                    font-weight: bold;
                }
                .list-group-item:hover {
                    background: $bg;
                    border-right: none;
                }
                i {
                    display: block;
                    text-align: center;
                }
            }
        }
        #admin-content {
            width: $contentWidth;
            min-height: 85vh;
        }
    };

}
