@import "_variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.btn, input, select {
    border-radius: 0;
}

form {
    label, input, select {
        display: block;
        width: 100%;
        margin: 2vh 0;
    }
    input, select {
        padding: 1vh;
        border: 1px solid $border;
    }
    input[type="submit"]{
        width: auto;
        margin: 2vh auto;
    }   
}

#logo {
    font-family: 'Staatliches';
    line-height: 0.9;
    font-weight: bold;
    // padding: 5vw;
    display: inline;
}

@import "./_modal";
@import "./admin/admin";

#main-home {
    & > * {
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5vh;
    }
    section p {
        width: 60vw;
        margin: auto;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-between;
    }
    #main {
        display: block;
        padding: 5vh;
        margin: 0;
        background-image: url('../images/main-bg.jpg');
        background-color: $gray-200;
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #intro {
        color: $primary;
        font-family: 'Staatliches';
        height: 20vh;
    }
    #animals {
        display: block;
        text-align: center;
        & > div {
            @include responsive-grid();
            grid-template-rows: 1fr;
        }
        .card {
            max-height: 300px;
            border: none;
            img {
                max-height: 300px;
                object-fit: cover;
            }
        }
    }
}
